container--features {
  @media screen and (min-width:481px) and (max-width:768px) {
  width: 100%;}
}

.features-list {
  display: flex;


  @media screen and (max-width:480px) {
  flex-wrap: wrap;
  gap: 30px;}

  @media screen and (min-width:481px) and (max-width:768px) {
    flex-wrap: wrap;
    gap: 30px;
    }
}

.features-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $button-color;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__item {
width: 100%;
  // padding-top: 94px;
  // & + & {
  //   margin-left: 30px;}
  @media screen and (min-width:481px) and (max-width:768px) {
    width: calc((100% - 30px) / 2);
  }
}


.features-list__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $h-color;

 
  @media screen and (max-width:480px) {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
