container--features {
  width: 100%;}


.features-list {
  display: flex;

  @include desktop {
    flex-wrap: nowrap;
    gap: 30px;
  }

  @include mobile {
  flex-wrap: wrap;
  gap: 30px;}

  @include tablet {
    flex-wrap: wrap;
    gap: 30px;
    }
}

.features-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $button-color;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__item {
width: 100%;
  
  // & + & {
  //   margin-left: 30px;}
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
}


.features-list__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $h-color;

 
  @include mobile {
    text-align: center;
  }
  @include desktop {
    text-align: left;
  }
}

.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
