.header-page {
  border-bottom: 1px solid $border-color;
  position: relative;
}

.header {
  display: flex;
  @include mobile  {
      display: flex;
    justify-content: flex-start;
   
     }
  
}

.contacts-list__item {
  @include tablet {
  }
  @include desktop {
    display: flex;
    align-items: center;
    & + & {
      margin-left: 50px;
    }
  }
}

.nav-list,
.contacts-list {
  list-style: none;
  display: flex;
}

.contacts-list {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link,
.contacts-list__link {
  color: $h-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: $akcent-color;
}

.current {
  color: $hover-btn;
}

.contacts-list__link {
  @include tablet {
    padding: 0;
  }
}
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: $akcent-color;
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: $hover-btn;
}

.contacts-list__text {
  color: $text-color;
}

.contacts-list__icon {
  fill: $text-color;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@include mobile {
  .contacts-list,
  .nav-list {
    display: none;
  }
}
