.member-info__label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $h-color;
}

.members-label {
  @include mobile {
    padding-top: 60px;
  }

  @include tablet {
    padding-top: 60px;
  }

  @include desktop {
    padding-top: 94px;
  }
}

.members-list__item {
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // & + & {
  //   // margin-left: 30px;
  // }

  // @include desktop {
  //   width: calc((100% - 90px) / 3);
  // }

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 3);
  }
}

.member-info__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.about-us {
  background-color: $button-color;
  // padding-top: 94px;
}

.members-list {
  display: flex;

  // margin-top: 50px;

  @include mobile {
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include tablet {
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
  }
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $akcent-color;
    color: $white-color;
  }
}

.social-list__icon {
  fill: currentColor;
}

.link-icon:hover .social-list__icon,
.link-icon:focus .social-list__icon {
  fill: $white-color;
}

.social-list {
  display: flex;
  justify-content: center;
}
