.current, .current--menu {
    color: $akcent-color;
    position: relative;
  }
  
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    background: $akcent-color;
    border-radius: 2px;
  }


 