.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
    display: flex;
    justify-content: center;
    
  }
  &--acent {
    color: $akcent-color;
    
  }
  &--dark {
    color: $h-color;
    margin-right: 93px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 88px;
    }

    @media screen and (max-width:767px) {
      margin-right: 0px;
    }
  }
  &--light {
    color: $white-color;
    
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
