.header-menu {
  position: absolute;
  margin-left: auto;
  right: 10px;
  top: 10px;
  margin-left: auto;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $akcent-color;
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.header-menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  margin-left: auto;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $akcent-color;
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background-color: $white-color;
  width: 100%;
  height: 100vh;
  padding: 48px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item .current--menu {
    color: $akcent-color;
  }
}

.mob-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $akcent-color;
  }
}

.mob-menu__link {
  color: $h-color;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mob__link {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts-mob__text-mail {
  font-size: 24px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: $text-color;
}
.contacts-mob__item--tel {
  margin-bottom: 32px;
  & a {
    color: $akcent-color;
  }
}

.mob-socials {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.mob-socials__link {
  color: $akcent-color;
}

.mob-socials__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
  }
}

.mob-socials__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 64px;
  margin: 0;
}

