
$text-color: #757575;
$h-color: #212121;
$akcent-color: #2196f3;
$white-color: #ffffff;
$border-color: #ececec;
$hover-btn: #188ce8;
$bg-nav: #ffffff;
$bg-img: #eeeeee;
$bg-hero: #2f303a;
$button-color: #f5f4fa;
$icon-color: #afb1b8;
$address-color: rgba(255, 255, 255, 0.6);

  